anyio==3.4.0
argh==0.26.2
asgiref==3.4.1
attrs==21.4.0
black==21.12b0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
fastapi==0.70.1
greenlet==1.1.2
h11==0.12.0
idna==3.3
iniconfig==1.1.1
isort==5.10.1
linecache2==1.0.0
Markdown==2.6.5
MarkupSafe==2.0.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
pathtools==0.1.2
platformdirs==2.4.1
pluggy==1.0.0
primary==0.0.1.dev1
prime==1.0.0
py==1.11.0
pydantic==1.9.0
pyparsing==3.0.6
pytest==6.2.5
PyYAML==6.0
requests==2.27.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.29
starlette==0.16.0
toml==0.10.2
tomli==1.2.3
traceback2==1.4.0
typing_extensions==4.0.1
unittest2==1.1.0
urllib3==1.26.7
uvicorn==0.16.0
websocket-server==0.4
